################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Common/bin/Debug/net5.0
/Common/obj
/gRPCClient/obj
/GrpcService/bin/Debug/net5.0
/GrpcService/obj
/.vs
